# .gitignore for .NET
[Bb]in/
[Oo]bj/
.vs/
.vscode/
.idea/
*.user
*.userosscache
*.sln.docstates
*.suo
*.pdb
*.exe
*.dll
*.deps.json
*.runtimeconfig.json
*.staticwebassets.endpoints.json
*.staticwebassets.build.json
*.staticwebassets.build.json.cache
*.sourcelink.json
*.dswa.cache.json
*.OpenApiFiles.cache
*.cache
*.vsidx
.futdcache.v2
.dtbcache.v2
DocumentLayout.backup.json
DocumentLayout.json
*.bin
*.metadata.v10.bin
*.projects.v10.bin
*.strings.v10.bin
*.AssemblyReference.cache
*.BuildWithSkipAnalyzers
*.CoreCompileInputs.cache
*.FileListAbsolute.txt
*.GeneratedMSBuildEditorConfig.editorconfig
*.MvcApplicationPartsAssemblyInfo.cache
*.MvcApplicationPartsAssemblyInfo.cs
*.msCoverageSourceRootsMapping_FleetMenager.Tests
CoverletSourceRootsMapping_FleetMenager.Tests
project.assets.json
project.nuget.cache
*.nuget.dgspec.json
*.nuget.g.props
*.nuget.g.targets

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Sensitive data
appsettings.Development.json
**/appsettings.Development.json
